:root{
    --background: #2e2e2e;
    --shadow-container: rgba(255, 255, 255,0.5);
    --color-text: #fff;
    --shadow-input: #fff;
    --background-color-input: #fff;
    --background-color-btn: rgb(55, 91, 189);
    --background-color-btn-hover: rgb(75, 112, 214);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

.form-container{
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-container);
}

.form-container .register-container{
    margin: 10px;
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;
}

.form-container .register-container form{
    display: flex;
    flex-direction: column;
}

.form-container .register-container form p{
    color: var(--color-text);
    font-weight: bold;
}

.form-container .register-container form label{
    display: block;
    margin-bottom: 10px;
}

.form-container .register-container form input,
.form-container .register-container form .address-info select{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: 1.5px;
    background-color: var(--background-color-input);
}

.form-container .register-container form .address-info select{
    text-align: center;
}



.form-container .register-container form input:focus-within{
    outline: none;
    border-bottom: 1px solid #2e2e2e;
    box-shadow: 0 2px 5px var(--shadow-input);
}

.form-container .register-container form .account-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-container .register-container form .account-info p{
    width: 50%;
}

.form-container .register-container form .address-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.form-container .register-container form .address-info p{
    width: 33%;
}

.form-container .register-container form .address-info select:hover{
    cursor: pointer;
}

.form-container form input[type="button"]{
    background-color: var(--background-color-btn);
    color: var(--color-text);
    font-size: 20px;
    font-weight: bolder;
}

.form-container form input[type="button"]:hover{
    background-color: var(--background-color-btn-hover);
    cursor: pointer;    
}


@media  screen and (max-width: 860px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .form-container{
        width: 90%;
    }

    .form-container .register-container form .address-info select{
        font-size: 12px;
        text-overflow: ellipsis;
    }

}


